body {
    height:100%;
}

#header {
    text-align: center;
    width: 100%;
    top: 0;
    font-size: 50px;
}

#saved-container {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 90%;
}

#generateBtn {
    position: relative;
    left: 40%;
    display: flex;
}

#poster-URL {
    width: 90%;
}

#quoteBox {

    border: 2px dashed black;
    display: flex;
    position: relative;
}

li {
    font-size: 25px;
}

footer {
    width: 100%;
    height: 30%;
    position: sticky;
    bottom: 0;
    text-align: center;
}

#tmdb-logo {
    height: 20px;

}

h4 {
    font-size: small;
    margin-bottom: 15em;
}