body {
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: block;
}

#header {
    height: 20%;
    width: 100%;
    background-color: bisque;
    text-align: center;
    font-size: 40px;
}

#titleName {
    font-size: 50px;
    text-decoration-color: black;
}

#savedMovies {
    margin: 5px;
    padding: 1px;
    width: 1px;
    height: 500px;
    width: 200px;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-decoration-color: black;

}

#searchBox {
    padding: 5px;
    margin: 5px;
    height: 500px;
    width: 500px;
    border: 5px solid black;
    position: absolute;
    right: 700px;
    top: 120px;
    text-align: center;
    display: block;

}

#posterDisplay {
    height: 300px;
    width: 300px;
    border: 2px dashed black;
    padding: 2px;
    margin: 2px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 100px;
}

#generateBtn {
    width: 75px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    float: left;
}

#movieResult {
    border: 2px dashed black;
    width: 200px;
    height: 50px;
}

#saveBtn {
    width: 75px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    float: right;
}

#quoteBox {
    margin: 5px;
    padding: 1px;
    width: 1px;
    height: 500px;
    width: 200px;
    text-align: center;
    float: right;
}

h2 {
    height: 25px;
}

ul {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#quoteDisplay {
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}