body {
    height:100%;
}

#header {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 25px;
}

/* Saved Movies Container Start */
#saved-header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#savedList {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 30px;
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
    position: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#saved-container {
    display: flex;
    flex-direction: column;
}
/* Saved Movies Container End*/

/* Review Container */
#review-header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#reviewList {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 20px;
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
    position: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#review-container {
    display: flex;
    flex-direction: column;
}
/* Review Container End*/

#clearBtn {
    background-color: lightgreen;
    color: white;
    text-align: center;
}

.btn {
    width: 90%;
}

#generateBtn {
    position: relative;
    left: 40%;
    display: flex;
}

#poster-URL {
    width: 90%;
}

#quoteBox {
    border: 2px dashed black;
    display: flex;
    position: relative;
}

li {
    font-size: 25px;
}

footer {
    width: 100%;
    height: 30%;
    bottom: 0;
    text-align: center;
}

#tmdb-logo {
    height: 20px;
}